#map {
    width: 80%;
    height: 500px;
    margin: 20px auto;
}

#sede-info {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 80px;
}

#sede-info h3 {
    margin-top: 0;
}